 @font-face {
     font-family: 'whoismono';
     src: url('fonts/whois-mono.eot');
     src: url('fonts/whois-mono.eot?#iefix') format('embedded-opentype'),
          url('fonts/whois-mono.woff') format('woff'),
          url('fonts/whois-mono.ttf') format('truetype'),
          url('fonts/whois-mono.svg#whoismono') format('svg');
     font-weight: normal;
     font-style: normal;

 }
 body{
 	font-family: "whoismono", monospace;
 	color: rgb(255, 70, 0);
 	padding: 1rem;
 }


 header{
 	width: 30%;
 	position: fixed;
 }

 main{
 	margin-left: 35%;
 }

 h1,h2{
 	font-size: 3rem;
 	font-weight: normal;
 	margin: 0;
 }

 p{
 	margin: 0;
 }

 main p{
 	font-size: 3rem;
 }

 a{
 	text-decoration: none;
 	color: rgb(255, 70, 0);
 }

 a:hover{
 	text-decoration: underline;
 }

 main a{
 	font-size: 3rem;
 	display: block;
 }

 @media screen and (max-width: 800px){
 	main,header{
 		position: static;
 		margin: 0;
 		width: 100%;
 	}
 }


