body{
	background: #ccc;
	height: 200vh;
}

#top{
	background: yellow;
	height: 100vh;
	width: 100vw;
}

#container{
	position: relative;
}

.box{
	width: 300px;
	height: 300px;
	float: left;
	background: black;
	margin-right: 10px;
	margin-bottom: 10px;
	color: white;
	font-size: 5rem;
	overflow: hidden;
}

.rel{
	position: relative;
	top: 100px;
	right: 100px;
	background: blue;
	z-index: 10;
}

.absolute{
	position: absolute;
	top: 100px;
	right: 500px;
	background: rgba(255,0,0,0.5);
	z-index: 0;
}

.fixed{
	background: green;
	position: fixed;
	top: 30px;
	right: 30px;
	border-bottom-left-radius: 50%;
}

.circle{
	 background: white;
	 width: 200px;
	 height: 200px;
	 border-radius: 50%;
}

