body{
	font-family: Helvetica, Arial, sans-serif;
}

a{
	color: purple;
	text-decoration: none;
}

.cats{
 	background: #ffffff url("media/giphy.gif") repeat right top fixed; 
 	/* shorthand for
	background-color: #ffffff; 
 	background-image: url("img_tree.png");
 	background-repeat: no-repeat;
 	background-position: right top;
 	background-attachment: fixed;
 	*/
 	background-size: 100px;
}

.red{
	background: red;
}

.yellow{
	background: yellow;
}

#crop{
	width: 300px;
	height: 250px;
	overflow: hidden;
}

img{
	display: block;
	width: 100%;
/*	height: 400px;*/
}

.special{
	margin: auto;
}

.container{
	border: solid 3px white;
	width: 200px;
	height: 200px;
}






