body {
	counter-reset: section;
	font-family: Helvetica, sans-serif;
	text-align: center;
}

.container {
	height: 100vh;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.box {
	width: 80px;
	height: 80px;
	margin: 10px;
	background-color: rgb(0,255,0);
}

.box::before{
	counter-increment: section; 
	content: counter(section); 
	color: white;
	padding-top: 10px;
	display: block;
}

div:first-child {
	border-radius: 50%;
	border: 7px dashed purple;
	/*box-sizing: border-box;*/
}

div:nth-child(3n) {
	background: purple;
	color: white;
	border-radius: 5px 10px 40px 0;
}

div:nth-child(4) {
	transform: skew(-20deg);
	background: tomato;
}

div:nth-child(6) {
	transform: rotate(20deg) scale(3);
}

div:last-child {
	transform: translate(30px,30px);
	background: blue;
}
