@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700');


body{
	font-family: 'Libre Franklin', sans-serif;
	background: yellow;
}

h1{
	text-decoration: underline;
}

h1,h2,h3,h4{
	margin: 0;
}

p{
	border: 1px solid #000;
	padding: 3rem;
	padding-top: 0;
	max-width: 800px;
	margin: auto;
	text-align: center;
}

section{
	background: white;
	margin: 3em;
}

section p{
	background: rgba(0,0,0,0.3);
	color: red;
}

.container{
	display: flex;
}

section{
	flex: 1;
}

.top{
	flex: 3;
}

.pup{
	border: 3px dashed blue;
}

.text{
	font-weight: bold;
	color: pink;
}

#idname{

}
/*
blockquote{
	font-size: 300px;
}*/

a{
	text-decoration: none;
}

a:hover{
	color: #000;
	background: yellow;
}